# AAI614: Data Science & its Applications

*Notebook 2.2: Descriptive Statistical Information*

<a href="https://colab.research.google.com/github/harmanani/AAI614/blob/main/Week%202/Notebook2.1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import ssl

ssl._create_default_https_context = ssl._create_unverified_context
alcohool = pd.read_csv("https://raw.githubusercontent.com/harmanani/AAI614/main/Week%202/niaaa-report2009.csv", index_col ='State')

In [11]:
alcohool.head(50)

                      Beer  Wine  Spirits
State
Alabama               1.20  0.22     0.58
Alaska                1.31  0.54     1.16
Arizona               1.19  0.38     0.74
Arkansas              1.07  0.17     0.60
California            1.05  0.55     0.73
Colorado              1.22  0.46     1.00
Connecticut           0.89  0.59     0.86
Delaware              1.31  0.57     1.25
District of Columbia  1.26  1.00     1.64
Florida               1.21  0.48     0.92
Georgia               1.08  0.25     0.64
Hawaii                1.30  0.53     0.75
Idaho                 1.05  0.92     0.70
Illinois              1.22  0.39     0.73
Indiana               1.09  0.25     0.73
Iowa                  1.42  0.18     0.72
Kansas                1.18  0.14     0.67
Kentucky              1.11  0.18     0.65
Louisiana             1.50  0.28     0.85
Maine                 1.24  0.42     0.83
Maryland              0.97  0.37     0.87
Massachusetts         1.02  0.61     0.84
Michigan              1.10  0.31     0.80
Minnesota             1.19  0.37     1.04
Mississippi           1.41  0.11     0.71
Missouri              1.30  0.30     0.83
Montana               1.66  0.45     0.88
Nebraska              1.46  0.20     0.68
Nevada                1.57  0.58     1.15
New Hampshire         1.72  0.84     1.82
New Jersey            0.92  0.57     0.87
New Mexico            1.37  0.32     0.74
New York              0.91  0.46     0.69
North Carolina        1.10  0.34     0.58
North Dakota          1.63  0.25     1.16
Ohio                  1.28  0.26     0.47
Oklahoma              1.18  0.18     0.58
Oregon                1.28  0.49     0.82
Pennsylvania          1.35  0.23     0.61
Rhode Island          1.10  0.53     0.92
South Carolina        1.36  0.24     0.77
South Dakota          1.53  0.22     0.88
Tennessee             1.05  0.21     0.57
Texas                 1.42  0.28     0.58
Utah                  0.70  0.17     0.46
Vermont               1.36  0.63     0.70
Virginia              1.11  0.43     0.59
Washington            1.09  0.51     0.74
West Virginia         1.24  0.10     0.45
Wisconsin             1.49  0.31     1.16

In [2]:
alcohool.max()

Beer       1.72
Wine       1.00
Spirits    1.82
dtype: float64

In [3]:
alcohool.min()

Beer       0.70
Wine       0.10
Spirits    0.45
dtype: float64

In [4]:
alcohool['Beer'].median()

np.float64(1.22)

In [5]:
alcohool.median()

Beer       1.22
Wine       0.34
Spirits    0.74
dtype: float64

In [6]:
alcohool['Wine'].std()

np.float64(0.20113852411299268)

In [7]:
alcohool.describe()

            Beer       Wine    Spirits
count  51.000000  51.000000  51.000000
mean    1.239608   0.384118   0.819804
std     0.210200   0.201139   0.266732
min     0.700000   0.100000   0.450000
25%     1.095000   0.225000   0.660000
50%     1.220000   0.340000   0.740000
75%     1.365000   0.520000   0.880000
max     1.720000   1.000000   1.820000

In [8]:
alcohool.idxmax()

Beer              New Hampshire
Wine       District of Columbia
Spirits           New Hampshire
dtype: object

In [9]:
alcohool.loc[:'Hawaii'].cumsum().head()

            Beer  Wine  Spirits
State
Alabama     1.20  0.22     0.58
Alaska      2.51  0.76     1.74
Arizona     3.70  1.14     2.48
Arkansas    4.77  1.31     3.08
California  5.82  1.86     3.81